body{
    background-image:url("HD-wallpaper-anime-suzume-no-tojimari.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    background-color:#283747;
    color: #F1C40F;
    height: 550px;
    width: 350px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    
    padding: 5px;
    background-color: #F1C40F;
    color:white;
    text-align: center;
}
.bt
{
    background-color: green;
    height: 35px;
    width: 60px;
}
.bt2
{
    background-color:red;
    height: 35px;
    width: 60px;
}
th, td {
    border: 1px;
    padding: 8px;
}
button {
    border: 1px;
    padding: 10px;
    cursor: pointer;
    background-color: #F1C40F;
  }
.card{
    background-color: #F1C40F;
    padding: 5px;
    background-color: #ff0000;
    width: 300px;
    height: 200px;
  }
  .box {
     padding: 5px;
    background-color: #F1C40F;
    border: 1px solid ;
  }